:root {
	section:has([data-aos]:not(.aos-animate)),
	div:has(> [data-aos]:not(.aos-animate)) {
		overflow: hidden; 
	}
	[data-aos].aos-animate {
		transform: none !important;
		will-change: auto !important; /* Отключаем оптимизацию, которая может держать отступ */
	}

	body {
		background-color: #f6f7fb; //#e0f2fe;
		font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #183d6d;
		margin: 0;
		padding: 0;
	}

	a {
		color: #2563ea;
		text-decoration: none;
	}

	h1, h2, h3, h4, h5, h6 {
		// color: #0d3896;
		margin: 0;
	}

	.v-resizeble-handle {
		position: absolute;
		width: 1px;
		// background: #f0f0f0;
		z-index: 99;
		top: 0;
		bottom: 0;
		height:100%;
		cursor: e-resize;
		border-radius: 3px;
		transition: all 100ms ease 0s;

		&[data-side='left'] {
			left: 0;
		}

		&[data-side='right'] {
			right: 0;
		}

		&:hover {
			background: #0079C2;
			width: 3px;
		}
	}

	.glass {
		background: rgba(255, 255, 255, 0.3);
		border-radius: 5px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	/* Блок к которому еще не реализован API */
	.no-api {
		filter: opacity(0.6) blur(1px);
		cursor: not-allowed !important;
	}

	.status {
		padding:.3em .65em;
		border-radius:999px;
		font-size:.8em;
		font-weight:800;
		white-space:nowrap;

		&.status-red { background-color: #fee2e2; color: #dc2626; }
		&.status-green { color: #166534; background: #dcfce7; }
		&.status-blue { background-color: #e0f2fe; color: #2563ea; }
		&.status-grey { background-color: #f3f4f6; color: #374151; } // { color: #6b7280; background: #f3f4f6; }
		&.status-yellow { background-color: #fffbeb; color: #a16207; }
		&.status-orange { background-color: #fff1e6; color: #b45309; }
		&.status-pink { background-color: #fce7f3; color: #be185d; }
		&.status-purple { background-color: #f3e8ff; color: #7e22ce; }
		&.status-indigo { background-color: #eef2ff; color: #4338ca; }
		&.status-cyan { background-color: #e0f2fe; color: #2563ea; }
		&.status-teal { background-color: #ccfbf1; color: #0f766e; }
		&.status-lime { background-color: #f7fee7; color: #84cc16; }
	}
}



// :has(> [class*="col-"]) {
:has(
	> [class^="col-"],
	> [class*=" col-"],
	> [class^="sm-col-"],
	> [class*=" sm-col-"],
	> [class^="md-col-"],
	> [class*=" md-col-"]
) {
	// Задаем грид-контейнер из 12 колонок (с отступами в 16px)
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--grid-gap, 16px);

	@each $key, $value in (
		0: 0,
		1: 4px,
		2: 8px,
		3: 12px,
		4: 16px,
		5: 24px
	) {
		&.gap-#{$key} { --grid-gap: #{$value}; }
	}

	@for $i from 1 through 12 {
		> .col-#{$i} {
			grid-column: span #{$i};
			$base-percent: calc(($i / 12) * 100%); // Эквивалент $i фракции в процентах
			min-width: min(calc(#{$base-percent} - var(--grid-gap)), 200px); // Сжатие до 200px предел, далее перенос на новую строку
		}
	}
	// Медиа-запросы (1024px и 768px)
	@media (max-width: 1024px) {
		@for $i from 1 through 12 {
			> .md-col-#{$i} {
				grid-column: span #{$i};
			}
		}
	}
	@media (max-width: 768px) {
		> [class^="col-"], > [class*=" col-"] { grid-column: span 12; min-width: 0; } // По умолчанию на мобилках в полную ширину
		@for $i from 1 through 12 {
			> .sm-col-#{$i} { grid-column: span #{$i}; }
		}
	}
}
