body:has(.page-403){background-color:#0079c1;color:#fff}.page-403 .base-button{font-size:.8em;margin:1em 0}.page-403 .h1{font-size:6em;text-align:center}.page-403 .description{font-size:1.4em;line-height:1em;text-align:center}
